<template>
  <q-card>
    <q-card-section class="bg-light-blue-7 text-white">
      <div class=" text-lg font-bold">
        相似度結果
      </div>
      <div class="text-subtitle2">
        目前測試 96% 以上，比較有參考價值
      </div>
    </q-card-section>

    <q-card-section class="">
      <template v-if="similarityList.length === 0">
        <div class="text-lg text-center opacity-50">
          無資料
        </div>
      </template>

      <div
        v-else
        class=" flex flex-col gap-2"
      >
        <div class="flex justify-between">
          <div
            v-for="source, i in list"
            :key="i"
            class="flex flex-col flex-nowrap items-center "
          >
            <q-icon
              name="image"
              color="grey-7"
              size="1rem"
            />
            {{ source }}%

            <q-tooltip>
              <div class="flex gap-1">
                <q-img
                  :src="props.leftFrames[i]"
                  class=" w-[20rem] "
                />
                <q-img
                  :src="props.rightFrames[i]"
                  class="  w-[20rem] "
                />
              </div>
            </q-tooltip>
          </div>
        </div>

        <q-separator />

        <div class=" flex flex-col items-center">
          <div class="">
            總平均
          </div>

          <div class=" text-xl font-bold">
            {{ similarityMean }}%
          </div>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { ceil, identity, map, meanBy, pipe } from 'remeda';
import { computed, ref } from 'vue';

interface Props {
  similarityList: number[];
  leftFrames: string[];
  rightFrames: string[];
}
const props = withDefaults(defineProps<Props>(), {

});

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
}>();

const list = computed(() => pipe(props.similarityList,
  map(ceil(1)),
));

const similarityMean = computed(() => pipe(props.similarityList,
  meanBy(identity),
  ceil(1),
));
</script>

<style scoped lang="sass">
</style>
